// _post.jade
extends /_layout.jade
include /_widgets/index.jade

block title
  = current.post.title
  | &nbsp;- Houkanshan's Blog

block head
  link(href="/css/post.css" rel="stylesheet")

block bottom_js
  script(src="/js/hljs-style.js")

block body
  - var curr = 'post'
  header#post-header.minor-header
    .header-wrapper.hover-toggler-fade
      +nav(curr)
      a(href="/")
        .when-hover
          +bare-title()

  article#post-content
    header#post-content-header
      h2= current.post.title
    article
      .article-content
        != yield
      footer
        span.date= current.post.date
      footer
        .comments-section
          include /_widgets/disqus.jade

    footer#post-content-footer
      - var prev = posts[current.index - 1]
      - var next = posts[current.index + 1]

      .row-half
        if prev
          a.prev.post-switcher(href="/#{prev.dest}/")
            label Prev
            h4.title
              span= prev.title

      .row-half
        if next
          a.next.post-switcher(href="/#{next.dest}/")
            label Next
            h4.title
              span= next.title


  footer#post-footer.main-footer
    +footer-content(curr)
