mixin posts-list(posts)
  ul.posts-list
    each post in posts
      li.post-item
        a(href="/#{post.dest}/" title=post.title)
          .post-hd
            h3.title= post.title
            .date= post.date
          .post-bd= post.abstract
