doctype xml
feed(xmlns="http://www.w3.org/2005/Atom")
  title Hou Mai
  link(href="#{template.site.url}/atom.xml")
  link(href="#{template.site.url}/")
  updated= posts[posts.length - 1].date
  id= template.site.url
  author
    name= template.site.name
    email= template.site.email
  - var reverse_posts = posts.slice().reverse()
  for post in reverse_posts
    entry
      title= post.title
      link(href="#{template.site.url}/#{post.dest}/")
      update= post.date
      id= template.site.url + '/' + post.dest + '/'
      content(type="html")
        p
          if post.cover
            img(src=post.cover)
        p= post.abstract
